body {
    margin: 0 auto;
    background-color: rgb(55, 55, 55);
}

.container {
    width: 100%;
    height: 100%;
    --s: 37px; /* control the size */
  
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
  }

  .container2 {
    width: 100%;
    height: 100%;
    --s: 37px; /* control the size */
  
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  }
  
  .container3 {
    width: 100%;
    height: 100%;
    --s: 37px; /* control the size */
  
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
  }

/* FORMULAIRE */

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
}

.formulaire form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 30rem;
    height: auto;
    backdrop-filter: blur(6px);
    background-color: rgb(241, 241, 241, 0.3) ;
    border: rgb(142, 141, 141) solid 2px;
    border-radius: 1.3rem;
}

.formulaire label {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulaire input {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
}

.formulaire select {
    margin-bottom: 20px;
    margin-left: 15px;
}

label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.disposition_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonct_form {
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* PLANNING */

.bouton-menu {
    padding-top: 20px;
    padding-left: 20px;
}

.fermer-menu {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu-latéral button img {
    width: 15px;
    height: auto;
}

.menu-latéral {
    position: fixed;
    left: -270px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: rgb(5, 5, 5);
    padding-top: 20px;
    padding-right: 5px;
    transition: left 0.5s;
    z-index: 1;
}

.menu-latéral h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-latéral p {
    color: white;
}

.menu-latéral.visible {
    left: 0;
}

.titre-decalé {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.contenu-decalé {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.bouton-menu button.bouton-decalé {
    left: 250px;
}

.menu {
    color: white;
}

.menu-item {
    list-style: none;
    color: white;
}

.menu-item:hover {
    background-color: #333;
}

.sub-items {
    display: none;
    color: white;
    list-style: none;
}

.sub-item:hover {
    background-color: #555;
}

.sub-items a {
    color: white;
}

.planning{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tete_planning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mois {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(42, 41, 41, 0.6);
}

.arrow {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.tableau {
    display: block;
    width: 70rem;
    backdrop-filter: blur(6px);
    background-color: rgb(241, 241, 241, 0.3) ;
    border: rgb(142, 141, 141) solid 2px;
    border-radius: 1.3rem;
}

.jours {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(42, 41, 41, 0.6);
    
}

.grille-planning {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.jour {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 20px;
}

.jour:last-child {
    border-right: none; 
}

.cases-tableau {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cases-tableau li {
    flex: 0 0 48%; 
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(68, 67, 67, 0.5);
    margin: 20px 0;
}

/* INFOS */

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.donnees {
    margin-top: 10rem;
    font-size: large;
}

.continuer {
    margin-top: 2rem;
}



/* PARAMETRES */

.password-container {
    display: inline-block;
}

.afficher_mdp {
    border-radius: 7px;
}

.login {
    width: 340px;
    background: #2c2c2c;
    padding: 47px;
    margin: 3rem;
    padding-bottom: 57px;
    color: #fff;
    border-radius: 17px;
    padding-bottom: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .login input[type="text"],
    .login input[type="password"], 
    .login input[type="email"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    margin: 20px 0 25px 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #3c3c3c;
    color: #fff;
    }

    .login input[type=submit],
    .login input[type=button],
    .h1 {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 13px;
    margin: 40px 0 0 0;
    border-radius: 500px;
    font-weight: 600;
    }

    .h1 {
    padding: 0;
    position: relative;
    margin-bottom: 4rem;
    top: -35px;
    display: block;
    margin-bottom: -0px;
    font-size: 1.3em;
    }

    .btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    padding: 16px !important;
    }

    .btn:hover {
    background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
    color: rgb(255, 255, 255);
    padding: 16px !important;
    cursor: pointer;
    transition: all 0.4s ease;
    }

    .ui {
    font-weight: bolder;
    background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
    border-image-slice: 1;
    display: inline;
    }

    @media only screen and (max-width: 600px) {
    .login {
        width: 70%;
        padding: 3em;
    }
    }

    @keyframes bounce {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }
    }

    @keyframes bounce1 {
    0% {
        opacity: 0;
    }

    40% {
        transform: translateY(-100px);
        opacity: 0;
    }
    }

    @keyframes bounce2 {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(-20px);
        opacity: 0;
    }
    }

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF;
    font-size: 14px;
}